// Colors
$white: #ffffff;
$graySky: #f0f0f0;
$graySky2: #f1f1f1;
$graySky3: rgba(235, 235, 235, 0.819);
$gray3: #777777;
$black: #2b2b2b;
$gray: #474747;
$softBlack: #3A3A3C;

// Sizes
$sm: 575.95px;
$md: 767.95px;
$lg: 991.95px;
$xl: 1199.95px;
$xxl: 1349.95px;